----config.lua--------------
-- Config file for otserv
-- Comments start with a --
----------------------------

-- datadir
datadir = "data/"

-- mapfile
-- sets what map to load
mapfile = "data/world/map.xml"

-- loginmsg
-- the message the player gets when he logs in
loginmsg = "Welcome to OTServ. For help visit tibia.de/forum"

-- port
-- the port otserv listens on
port = "7171"


-- servername
-- name of our server
servername = "otserv.org"

-- ownername
-- name of the owner of our server
ownername = "Tliff"

-- owneremail
-- email of the owner of our server
owneremail = "otserv@tibia.de"

-- url
-- the url for more server info
url = "http://otserv.org"

-- location
-- the location of the server
location = "Germany"

-- ip
-- the ip the server should redirect too
ip = "127.0.0.1"

-- motd
-- The messagebox you sometimes get before you choose characters
-- not working yet
motd = "Welcome to OpenTibia Pre-Release"
motdnum="1"

-- max number of players allowed
maxplayers = "10000"

-- exhausted time in ms (1000 = 1sec)
exhausted = 2*1000

-- how many ms to add if the player is already exhausted and tries to cast a spell (1000 = 1sec)
exhaustedadd = 2*1000

-- how long does the player has to stay out of fight to get pz unlocked in ms (1000 = 1sec)
pzlocked = 5*60*1000

-- allow multiple logins of the same char
allowclones = 0

-- vocation names
vocations = {"a sorcerer", "a druid", "a paladin", "a knight"}


--- SQL part (probaly buggy)
sql_host = "localhost"
sql_user = "root"
sql_pass = ""
sql_db   = "otserv"


--- SQL MAP part
sqlmap = "test_map"
map_host = "localhost"
map_user = "root"
map_pass = ""
map_db   = ""
----------------------------
