-------- config.lua --------
-- Config file for OTServ --
----------------------------

-- data directory location
data_directory = "data/"

-- map location
map_file = "data/world/map.otbm"

-- Type of map storage,
-- 'relational' - Slower, but possible to run database queries to change all items to another id for example.
-- 'binary' - Faster, but you cannot run DB queries.
-- To switch, load server with the current type, change the type in config.lua
-- type /reload config and the save the server with /closeserver serversave
map_store_type = "binary"

-- server name
server_name = "OTServ"

-- server location
server_location = "Germany"

-- server ip (the ip that server listens on)
server_ip = "127.0.0.1"

-- login server port
-- This should be the port used for connecting with IP changers etc.
login_port = "7171"

-- game server port
-- game server must be on it's own port (due to limits of the protocol)
game_port = "7172"

-- status port
-- Used by status protocol connections, should be same as login
-- to work correctly with server lists etc.
status_port = "7171"

-- admin port
-- Port used by the OTAdmin protocol
admin_port = "7171"

-- server url
server_url = "http://otfans.net"

-- server owner name
server_owner_name = "Tliff"

-- server owner email
server_owner_email = "otserv@tibia.de"

-- world name
game_world_name = "OpenTibia"

-- world type
-- options: pvp, no-pvp, pvp-enforced
game_world_type = "pvp"

-- does player rate (from lua functions) count on experience gained from killings players on pvp-e worlds?
rates_for_player_killing = false

-- exhausted time in ms (1000 = 1 second) for "yell" speak type
yell_exhausted = 1000

-- exhausted time in ms (1000 = 1 second) for aggressive spells/weapons
fight_exhausted = 2000

-- exhausted time in ms (1000 = 1 second) for none-aggressive spells
heal_exhausted = 1000

-- exhausted time in ms (1000 = 1 second) for floor changing
stairhop_exhausted = 2000

-- attack speed using melee (1000 = 1 second)
attack_speed = 2000

-- how many ms to add if the player is already exhausted and tries to cast a spell/yells (1000 = 1 second)
exhausted_add = 200

-- how long does the player has to stay out of fight to get pz unlocked in ms (1000 = 1 second)
in_fight_duration = 60000

-- how long a field belongs to a player before it no longer causes PZ lock for the owner
field_ownership_duration = 5000

-- When a player dies, how many of the assisting players (ie. how many of those who made damage) should be stored in database?
death_assist_count = 19

-- enable (advanced, item based) hotkeys?
enable_hotkeys = true

-- minimum amount of time between actions ('Use') (1000 = 1 second)
minimum_action_interval = 200

-- minimum amount of time between extended actions ('Use with...') (1000 = 1 second)
minimum_extended_action_interval = 1000

-- house rent period
-- options: daily, weekly, monthly
house_rent_period = "monthly"

-- whether or not to check for premium accounts when using beds
bed_only_premium = true

-- Should the server use account balance system or depot system for paying houses?
use_account_balance = true

-- How long time the red skull will last in seconds (default 30 days)
red_skull_duration = 30*24*60*60

-- How long time the black skull will last in seconds (default 45 days)
black_skull_duration = 45*24*60*60

-- White skull duration, how long a player will get pz locked/white skull
unjust_skull_duration = 15*60*1000

-- Enable this and players will get pzlocked regardless of being the aggressor or not (<8.5 this was set to true)
defensive_pz_lock = false

-- How many players you need to kill to gain a red skull per day/week/month
-- Set 0 to disable
kills_per_day_red_skull = 3
kills_per_week_red_skull = 5
kills_per_month_red_skull = 10

-- How many players you need to kill to gain a black skull per day/week/month
-- Set 0 to disable
kills_per_day_black_skull = 6
kills_per_week_black_skull = 10
kills_per_month_black_skull = 20

-- Broadcast violation window banishments
broadcast_banishments = false

-- Violation window config
maximum_violation_comment_size = 255
notations_to_banishment = 3
warnings_to_final_banishment = 4
warnings_to_deletion = 5
banishment_length = 7*86400 --seconds
final_banishment_length = 30*86400 --seconds
ip_banishment_length = 86400 --seconds

-- Extra experience % per player when sharing experience
party_experience_multiplier = 5

-- Anti-MageBomb system
-- This system works as in Tibia, time in milliseconds
login_attack_delay = 10*1000

-- Show error window when server crashes?
show_crash_window = true

-- AFK Configuration (in milliseconds, but use values for minutes)
-- Maximum time a player can stay away from keyboard before being kicked
maximum_idle_time = 16*60*1000
-- Player will be warned about being kicked at this time
maximum_idle_time_warning = 15*60*1000

-- Should just premium players be able to use addons?
addons_only_for_premium = true

-- rates (experience, skill, magic level, loot and spawn)
rate_experience = 1
rate_experience_pvp = 1
rate_skill = 1
rate_magic_level = 1
rate_monster_loot = 1
rate_monster_spawn = 1

-- Stamina Configuration
-- Gain stamina rate - 1 second offline = X milliseconds of stamina
rate_stamina_gain = 334
-- Slow gain stamina rate. This is used if you are gaining stamina that gives extra experience
-- 1 second offline = X milliseconds of stamina
rate_stamina_gain_slow = 84
-- Loss stamina rate - works as other rates
rate_stamina_loss = 1
-- For how many milliseconds (from 42 hours) you get extra experience from monsters
stamina_extra_experience_duration = 60 * 60 * 1000
-- How much extra XP you get 0.5 is 50% extra
stamina_extra_experience_rate = 0.5
-- If true, only premium players gain extra experience
stamina_extra_experience_onlyprem = true
-- For how many milliseconds after killing a monster stamina will keep being removed
hunting_kill_duration = pzlocked

-- Remove ammunition
-- If false, ammunition will not be removed when using distance weapons
-- (or other weapons that use ammunition)
remove_ammunition = true

-- Remove rune charges
-- This only applies to runes done using the default functions.
-- Custom runes made using actions will not be affected.
remove_rune_charges = true

-- Remove weapon charges
-- Set to false to disable charges disappearing from weapons on use
remove_weapon_charges = true

-- Distance weapon configuration
-- Should exhaustion and action time be checked for using a distance weapon?
distance_weapon_interrupt_swing = true

-- Allow gamemaster multiclient login to everybody?
allow_gamemaster_multiclient = false

-- despawn configs
-- how many floors can a monster go from his spawn before despawning
monster_despawn_range = 2
-- how many square metters can a monster be far from his spawn before despawning
monster_despawn_radius = 50

-- max number of messages a player can say before getting muted (default 4), set to 0 to disable muting
maximum_message_buffer = 4

-- max amount of none stackable items that a NPC will sell to a player at the same time
npc_maximum_nonestackable_sell_amount = 100

-- motd (the message box that you sometimes get before you choose characters)
message_of_the_day = "Welcome to OTServ 0.7.0!"
message_of_the_day_number = "1"

-- login message
login_message = "Welcome to OTServ 0.7.0 (revscriptsys). For help visit http://otfans.net."

-- how many logins attempts until ip is temporary disabled
-- set to 0 to disable
maximum_login_tries = 5

-- how long the retry timeout until a new login can be made (without disabling the ip)
login_retry_timeout = 5000

-- how long the player need to wait until the ip is allowed again
login_unlock_timeout = 60 * 1000

-- allow clones (multiple logins of the same char)
allow_character_clones = false

-- only one player online per account
one_player_per_account = true

-- max number of players allowed
maximum_players = "900"

-- save client debug assertion reports
save_client_debug = true

-- Set the max query interval for retrieving status information
-- default: 5 minutes / IP
-- set to 0 to disable
status_information_timeout = 30 * 1000

-- accounts password type
-- options: plain, md5, sha1
password_type = "plain"

-- Password salt
-- Offers better security against rainbow table attacks etc.
password_salt = ""

-- House configuration (game_class)
-- House tile price
house_tile_price = 100
-- Only premium players can buy houses?
house_only_premium = true
-- Level to buy houses
house_level = 1
-- Show house price and its rent price when looking at its door?
-- PS: This info is going to be shown just if house has no owner
show_house_prices = false

-- The amount of events that can be called inside eachother
script_recursion_depth = 16

-- Include extra information when a script encounters an error.
-- HIGHLY RECOMMENDED if you are editing scripts
detailed_script_errors = true

-- Database configuration
-- options: mysql, sqlite, odbc or pgsql
database_type = "mysql"

-- SQL connection part
database_schema = "revscriptsys"
-- database_schema = "otserv" -- use this for MySQL/PgSQL
-- database_schema = "Your Source" -- ODBC

-- there settings are not used by SQLite
database_host = "localhost"
database_port = 3306
-- database_port = 5432 -- use this for PgSQL
database_username = "root"
database_password = ""
