.DS_STORE
Thumbs.db
xcuserdata
*.o
.deps
Makefile.in
Makefile
configure
missing
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
depcomp
install-sh
stamp-h1
*.kate-swap
*~
*.autosave
*.swp
*.bak
*.kdev*
CMakeLists.txt.user*
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
config.lua
*.s3db
/otserv
build