-------- config.lua --------
-- Config file for OTServ --
----------------------------

-- data directory location
datadir = "data/"

-- map location
map = "data/world/map.otbm"

-- mapkind
-- options: OTBM for binary map, XML for OTX map
mapkind = "OTBM"

-- map store location (for XML only)
mapstore = "data/world/map-mapstore.xml"

-- house store location (for XML only)
housestore = "data/world/map-housestore.xml"

-- server name
servername = "OTServ"

-- server location
location = "Germany"

-- server ip (the ip that server listens on)
ip = "127.0.0.1"

-- server port (the port that server listens on)
port = "7171"

-- server url
url = "http://otserv.org"

-- server owner name
ownername = "Tliff"

-- server owner email
owneremail = "otserv@tibia.de"

-- world name
worldname = "OpenTibia"

-- world type
-- options: pvp, no-pvp, pvp-enforced
worldtype = "pvp"

-- exhausted time in ms (1000 = 1 second) for none-aggressive spells/weapons
exhausted = 1000

-- exhausted time in ms (1000 = 1 second) for aggressive spells/weapons
fightexhausted = 2000

-- how many ms to add if the player is already exhausted and tries to cast a spell (1000 = 1 second)
exhaustedadd = 200

-- how long does the player has to stay out of fight to get pz unlocked in ms (1000 = 1 second)
pzlocked = 6000

-- set to 0 = disabled (default), 1 = enabled
enablehotkeys = 0

-- minimum amount of time between actions ('Use') (1000 = 1 second)
minactioninterval = 200

-- minimum amount of time between extended actions ('Use with...') (1000 = 1 second)
minactionexinterval = 1000

-- house rent period
-- options: daily, weekly, monthly
houserentperiod = "monthly"

-- rates (experience, skill, magic level, loot and spawn)
rate_exp = 1
rate_skill = 1
rate_mag = 1
rate_loot = 1
rate_spawn = 1

-- despawn configs
-- how many floors can a monster go from his spawn before despawning
despawnrange = 2

-- how many square metters can a monster be far from his spawn before despawning
despawnradius = 50

-- max number of messages a player can say before getting muted (default 4), set to 0 to disable muting
maxmessagebuffer = 0

-- motd (the message box that you sometimes get before you choose characters)
motd = "Welcome to OTServ revdbsys!"
motdnum = "1"

-- login message
loginmsg = "Welcome to OTServ. For help visit http://otserv.org"

-- how many logins attempts until ip is temporary disabled 
-- set to 0 to disable
logintries = 5

-- how long the retry timeout until a new login can be made (without disabling the ip)
retrytimeout = 5000

-- how long the player need to wait until the ip is allowed again
logintimeout = 60 * 1000

-- allow clones (multiple logins of the same char)
-- options: 0 (no), 1 (yes)
allowclones = 0

-- max number of players allowed
maxplayers = "900"

-- save client debug assertion reports
-- options: 0 (no), 1 (yes)
saveclientdebug = 0

-- md5 passwords for accounts
-- options: yes, no
md5passwords = "no"

-- SQL type
-- options: mysql, sqlite, odbc
sql_type = "sqlite"

--- SQL connection part
sql_db   = "db.s3db"
--- sql_db = "otserv" //use this one for MySQL
--- sql_db = "Your Source" // use this for ODBC

-- there settings are for MySQL only, SQLite doesn't need then
sql_host = "localhost"
sql_user = "root"
sql_pass = ""
